[Unit]
Description=Post Votes application
After=network.target

[Service]
User=aditya
Group=aditya
WorkingDirectory=/home/aditya/app/src/
Environment="PATH=/home/aditya/app/venv/bin"
EnvironmentFile=/home/aditya/.env
ExecStart=/home/aditya/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target